@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #7d9b5d;
  --secondary: #6d15df;
}
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: #f2f2f2;
}
nav {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(20, 20, 20, 0.863)
    ),
    url("https://images.pexels.com/photos/5168515/pexels-photo-5168515.jpeg");
  padding: 10px 20px;
  text-align: center;
  background-position: center;
  background-size: cover;
}
nav a {
  color: #ffffff;
  opacity: 90%;
  padding: 3px 22px;
  background-color: #dfdfdf;
  text-decoration: none;
  color: #333;
  display: inline-block;
}
nav h1 {
  margin: 0 auto;
  font-size: 50px;
  color: #7d9b5d;
  width: 50%;
  background-color: #ffffff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* smoothie grid */
.smoothie-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.smoothie-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.smoothie-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #7d9b5d;
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.smoothie-card .buttons {
  text-align: right;
}
.smoothie-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

/* order-by buttons */

.btn {
  background: var(--primary);
  color: white;
  padding: 15px;
  margin: 15px 10px;
  transition: ease 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  background: rgb(60, 120, 60);
}

.hm {
  background: #fff;
  color: var(--primary);
  padding: 15px;
  margin: 15px 10px;
  transition: ease 0.3s;
}
.hm:hover {
  transform: scale(1.1);
}
.hm:active {
  background: rgb(217, 217, 217);
}

.active {
  background-color: rgb(194, 194, 194);
  margin-right: 10px;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}
